@model IEnumerable<ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Models.Unit>

@{
    ViewData["Title"] = "Danh sách đơn vị tính";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <a asp-action="create" asp-controller="units" asp-area="admin" class="btn btn-outline-primary float-sm-right">
                    <i class="fas fa-plus"></i>
                    Thêm ĐVT
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row mb-12">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="table-data" class="table table-bordered table-striped tablas">
                            <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UnitName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>Tuỳ chỉnh</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.UnitId</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            <a asp-action="edit" asp-route-id="@item.UnitId" class="btn bg-gradient-success">
                                                <i class="fas fa-pen"></i>
                                                Chỉnh sửa
                                            </a>
                                            <a asp-action="delete" asp-route-id="@item.UnitId" class="btn bg-gradient-danger">
                                                <i class="fas fa-trash"></i>
                                                Xoá
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->