@model ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Areas.Admin.ViewModels.Menu
@{
    ViewData["Title"] = "View";
}

<h1>@ViewBag.Title</h1>

@* 
@Html.BeginForm(actionName: "CreateMenu", controllerName: "Parties",FormMethod.Post,new{id="frmMenu"})
    { *@
<form asp-action="CreateMenu" asp-controller="Parties" method="post" id="frmMenu">
<button action="submit">Confirm Menu</button>
    <table>
        <thead>
            <tr>
                <th>Tên món ăn</th>
                <th>Loại món ăn</th>
                <th>Đơn vị</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AvailableItems.Count; i++)
            {
                <tr id="tr-@i">
                    <td>
                        <label asp-for="@Model.AvailableItems[i].DishId">
                            <input type="checkbox" id="cb-@i" value="@Model.AvailableItems[i].DishId" onchange="toggle(@i)" />
                            @Model.AvailableItems[i].DishName
                        </label>
                        
                    </td>
                    <td>@Model.AvailableItems[i].DishType</td>
                    <td>@Model.AvailableItems[i].UnitName</td>
                    <td><input type="number" id="qty-@i" value="@Model.AvailableItems[i].Qty" min="0" asp-for="@Model.AvailableItems[i].Qty" disabled /></td>
                    <td id="thanhtien-@i"></td>
                </tr>
            }
        </tbody>
    </table>
</form>

    @* } *@

@* <section id="section-result">
    <table>
        <thead>
            <tr>
                <th>Tên món ăn</th>
                <th>Loại món ăn</th>
                <th>Đơn vị</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
                         @foreach (var item in ViewBag.MenuList)
            {
            <tr>
            <td>item.DishName</td>
            <td>item.DishType.Name</td>
            <td>item.Unit.UnitName</td>
            <td><input type="number" value="@item.Qty"/></td>
            <td></td>
            </tr>
            }
        </tbody>
    </table>
</section> *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function toggle(id) {
        const target = $('input[type="checkbox"]#cb-' + id)
        if (target.checked == true) {
            $('input[type="number"]#qty-' + id).value = 10;
            console.log(id);
        }
    }

</script>

