@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Areas.Admin.ViewModels.EditMenuViewModel

@{
	ViewData["Title"] = "Chọn món ăn";
	ViewData["Count"] = Model.NewMenu.Count;

}


<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">@ViewData["Title"] | @ViewBag.DateAndTime</h1>
			</div>
			<div class="col-sm-6">
				<div class="float-sm-right">
					<a asp-area="admin" asp-controller="parties" asp-action="details" asp-route-id="@Model.PartyId">
						@* <i class="fas fa-arrow-left"></i> *@
						Chi tiết tiệc
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="container">
	<div class="container-fluid">
		<button class="btn btn-warning mb-2">Lưu</button>
		<div class="card card-primary">
			<div class="card-header">
				<h5>THỰC ĐƠN ĐANG CHỌN</h5>
			</div>
			<div class="card-body-menu">
				<div class="row">
					@* <form asp-action="createmenu" asp-controller="parties" method="post"> *@

					<div class="col-12 table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Xóa</th>
									<th>Tên món ăn</th>
									<th>Số lượng</th>
								</tr>
							</thead>
							<tbody class="list-menu">
								@for (int i = 0; i < ViewBag.Count; i++)
								{
									<tr id="item-@i">
										<td>
											<button onclick="deleteItem(@i)">
												<span style="color: red">
													<i class="fas fa-trash-can"></i>
												</span>
											</button>
										</td>
										<td>
											@{
												string cb_id = "cb-" + Model.NewMenu[i].DishId;
											}
											@Html.DisplayFor(m=>m.NewMenu[i].DishName)
											@Html.HiddenFor(m=>m.NewMenu[i].DishName,new{@value=Model.NewMenu[i].DishName})
											@Html.HiddenFor(m=>m.NewMenu[i].DishId,new{@value=Model.NewMenu[i].DishId})
										</td>
										<td>
											@Html.EditorFor(m=>m.NewMenu[i].Qty)
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					@* </form> *@
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="card">
		<div class="card-body">
			@* <form asp-action="createmenu" asp-controller="parties" method="post" id="frmMenu"> *@
			<div class="form-group">
				@* <input type="submit" value="Lưu" class="btn btn-primary"> *@
			</div>
			<table id="table-data" class="table table-bordered table-striped tablas">
				<thead>
					<tr>
						<th>Tên món ăn</th>
						<th class="filterhead">Loại món ăn</th>
						<th>Đơn vị</th>
						<th>Đơn giá</th>
						@* 	<th>Số lượng</th>
						<th>Thành tiền</th> *@
					</tr>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						@* 	<th></th>
						<th></th> *@
					</tr>
				</thead>
				<tbody>

					@foreach (var item in ViewBag.Repository)
					{
						<tr>
							@{
								string cb_id = "cb-" + item.DishId;
							}
							<td>

							<input type="checkbox" id=@cb_id />
							<label for=@cb_id>@item.DishName</label>						
							<input type="hidden" value=@item.DishId />
						
							</td>
							<td>
								@item.DishType
							</td>
							<td>
								@item.UnitName
							</td>
							<td>
								@item.Price
								<input type="hidden" value="@item.Price" class="dish-price" />
							</td>
						</tr>
					
					}
				</tbody>
			</table>
			@* </form> *@
		</div>
	</div>
</section>
@section scripts{
	<script>

		function deleteItem(id) {
			$('.list-menu').find(`#item-${i}`).remove();
		}
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {

		})
	</script>}