@using ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Areas.Admin.ViewModels
@using ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Helpers
@model InvoiceDetailsViewModel

@{
    ViewData["Title"] = "Hoá đơn";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"] | #@(Model.PartyId) - @Model.Party.PartyName</h1>
            </div>
            <div class="col-sm-6">
                <div class="float-sm-right">
                    <a asp-area="admin" asp-controller="parties" asp-action="details" asp-route-id="@Model.Party.PartyId">
                        @* <i class="fas fa-arrow-left"></i> *@
                        Chi tiết tiệc
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.container-fluid -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
                <div class="col-12 text-center">
                    <h4>
                        Tiệc cưới Lan Huệ
                        <small class="ml-2">
                            @if (Model.Invoice.PaymentTime == null)
                            {
                                @if (Model.Invoice.Deposit > 0)
                                {
                                    <span class="badge badge-success">Đã đặt cọc</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Chưa đặt cọc</span>
                                }
                            }
                        </small>
                        <small class="ml-2">
                            @if (Model.Invoice.PaymentTime != null)
                            {
                                <span class="badge badge-success">Đã thanh toán</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Chưa thanh toán</span>
                            }
                        </small>
                    </h4>
                </div>
                <!-- /.col -->
            </div>
            <br />
            <!-- info row -->
            <div class="row invoice-info justify-content-center">
                <!-- /.col -->
                <div class="col-sm-8 invoice-col">
                    <b>Hoá đơn #@Model.InvoiceId</b><br>
                    <b>Tên khách hàng:</b> @Model.Party.Customer.CusName<br>
                    <b>Tên tiệc:</b> @Model.Party.PartyName<br>
                    <b>Ngày tổ chức:</b> @Model.Party.Date<br>
                    <b>Địa điểm tổ chức:</b> @Model.Party.Location<br>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <br />
            <!-- Table row -->
            <div class="row justify-content-center">
                <div class="col-8 table-responsive">
                    <table class="table table-striped table-bordered table-sm text-center">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên món ăn</th>
                                <th>Số lượng</th>
                                <th>Đơn giá (đồng)</th>
                                <th>Thành tiền (đồng)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                                foreach (var item in Model.DetailInvoices)
                                {
                                                <tr>
                                                    <th>@count</th>
                                                    <td class="text-left">@item.Dish.DishName</td>
                                                    <td>@item.Number</td>
                                                    <td class="text-right">@Helper.FormatMoney(item.Price, false)</td>
                                                    <td class="text-right">@Helper.FormatMoney(item.Amount, false)</td>
                                                </tr>

                                }
                                count++;
                            }
                            <tr>
                                <th colspan="5" class="text-right">Tổng: @Helper.FormatMoney(Model.Invoice.TotalPrice??0, false) </th>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row justify-content-center">
                <!-- /.col -->
                <div class="col-4">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Tổng tiền:</td>
                                <td>@Helper.FormatMoney(Model.Invoice.TotalPrice??0, true)</td>
                            </tr>
                            <tr>
                                <td>Tiền đặt cọc:</td>
                                <td>@Helper.FormatMoney(Model.Invoice.Deposit??0, true)</td>
                            </tr>
                            <tr>
                                @if (Model.Invoice.PaymentTime != null)
                                {
                                    <th>
                                        Ngày thanh toán
                                    </th>
                                    <td>
                                        @Model.Invoice.PaymentTime
                                    </td>
                                }
                                else
                                {
                                    <th>Tổng tiền cần thanh toán:</th>
                                    <th>@Helper.FormatMoney(Model.Invoice.Total??0, true)</th>
                                }
                            
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <div class="row">
                <div class="col-12">
                    @if (Model.Invoice.PaymentTime == null)
                    {
                        <button type="button" class="btn btn-success float-right mr-2" id="thanhtoan">
                            <i class="far fa-credit-card"></i> Thanh toán
                        </button>
                    }

                    @if (Model.Invoice.PaymentTime == null && Model.Invoice.Deposit == 0)
                    {
                        <button type="button" class="btn btn-success float-right mr-2" id="datcoc">
                            <i class="far fa-flag"></i> Đặt cọc 30%
                        </button>
                    }
                </div>
            </div>
        </div>
        <!-- /.invoice -->
    </div>
    <!-- /.container-fluid -->

</section>
@section scripts {
    <script>
        $(document).ready(function () {

            const id = @Model.InvoiceId;
            $('button#thanhtoan').on('click', function () {
                console.log("click!");
                send(id, "@Url.Action(action:"thanhtoan")");
            });

            $('button#datcoc').on('click', function () {
                console.log("datcoc");
                send(id, "@Url.Action(action:"datcoc")");
            });

            function send(data, url) {
                $.ajax({
                    "type": "POST",
                    "url": url,
                    "dataType": "json",
                    "contentType": "application/json;charset=utf-8",
                    "data": JSON.stringify(data),
                    success: function (response) {

                        console.log("success!" + response);
                        window.location.href = "@Url.ActionLink(action:"Details",controller:"Parties")/@Model.PartyId";
                    },
                    failure: function (response) {
                        window.location.href = "@Url.ActionLink(action:"Details",controller:"Parties")/@Model.PartyId";
                    }
                });
            }
        });

    </script>
}
