@using ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Areas.Admin.ViewModels
@model InvoiceDetailsViewModel

@{
    ViewData["Title"] = "Hoá đơn";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"] | #@(Model.PartyId)</h1>
            </div>
            <div class="col-sm-6">
                <div class="float-sm-right">
                    <a asp-area="admin" asp-controller="parties" asp-action="details" asp-route-id="@Model.PartyId">
                        @* <i class="fas fa-arrow-left"></i> *@
                        Chi tiết tiệc
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.container-fluid -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h4>
                        <i class="fas fa-globe"></i> Tiệc cưới Lan Huệ
                        <small class="float-right">Ngày: @DateTime.Now</small>
                    </h4>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    From
                    <address>
                        <strong>Admin, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        Phone: (804) 123-5432<br>
                        Email: info@almasaeedstudio.com
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    To
                    <address>
                        <strong>John Doe</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        Phone: (555) 539-1037<br>
                        Email: john.doe@example.com
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Invoice #007612</b><br>
                    <br>
                    <b>Order ID:</b> 4F3S8J<br>
                    <b>Payment Due:</b> 2/22/2014<br>
                    <b>Account:</b> 968-34567
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row justify-content-center">
                <div class="col-8 table-responsive">
                    <table class="table table-striped table-bordered table-sm text-center">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên món ăn</th>
                                <th>Số lượng</th>
                                <th>Đơn giá (đồng)</th>
                                <th>Thành tiền (đồng)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td class="text-left">Cơm chiên cá mặn</td>
                                <td>10</td>
                                <td class="text-right">300.000</td>
                                <td class="text-right">3.000.000</td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td class="text-left">Bò hầm tiêu xanh</td>
                                <td>10</td>
                                <td class="text-right">300.000</td>
                                <td class="text-right">3.000.000</td>
                            </tr>
                            <tr>
                                <th>3</th>
                                <td class="text-left">Lẩu hải sản</td>
                                <td>10</td>
                                <td class="text-right">300.000</td>
                                <td class="text-right">3.000.000</td>
                            </tr>
                            <tr>
                                <th colspan="5" class="text-right">Tổng: 9.000.000</th>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row justify-content-center">
                <!-- /.col -->
                <div class="col-4">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Tổng tiền: </td>
                                <td>9.000.000 đ</td>
                            </tr>
                            <tr>
                                <td>Tiền đặt cọc:</td>
                                <td>2.000.000 đ</td>
                            </tr>
                            <tr>
                                <th>Tổng tiền cần thanh toán:</th>
                                <th>7.000.000 đ</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-success float-right">
                        <i class="far fa-credit-card"></i> Submit
                        Payment
                    </button>
                    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                        <i class="fas fa-download"></i> Generate PDF
                    </button>
                </div>
            </div>
        </div>
        <!-- /.invoice -->
    </div>
    <!-- /.container-fluid -->

</section>

@*
@Html.DisplayNameFor(m=>m.PartyId)
@Html.DisplayFor(m=>m.PartyId)
@Html.DisplayNameFor(m=>m.InvoiceId)
@Html.DisplayFor(m=>m.InvoiceId)


Tổng tiền
@Html.DisplayFor(m=>m.Invoice.TotalPrice)

<table>
	<thead>
		<tr>
			<th>Tên món</th>
			<th>Đơn giá</th>
			<th>Số lượng</th>
			<th>Thành tiền</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model.DetailInvoices)
		{
			<tr>
				<td>@item.Dish.DishName</td>
				<td>@item.Dish.Price</td>
				<td>@item.Number</td>
				<td>@item.Amount</td>

			</tr>
		}
	</tbody>
</table> *@