@using ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Areas.Admin.ViewModels
@model InvoiceDetailsViewModel

@{
	ViewData["Title"] = "";
}
<table>
	<tr>
		<td>
			@Html.DisplayNameFor(m=>m.PartyId)
		</td>
		<td>
			@Html.DisplayFor(m=>m.PartyId)
		</td>
	</tr>
	<tr>
		<td>
			@Html.DisplayNameFor(m=>m.InvoiceId)
		</td>
		<td>
			@Html.DisplayFor(m=>m.InvoiceId)
		</td>
	</tr>
	<tr>
		<td>
			@Html.DisplayNameFor(m=>m.Customer.CusName)
		</td>
		<td>
			@Html.DisplayFor(m=>m.Customer.CusName)
		</td>
	</tr>
</table>


Tổng tiền
@Html.DisplayFor(m=>m.Invoice.TotalPrice)

<table>
	<thead>
		<tr>
			<th>Tên món</th>
			<th>Đơn giá</th>
			<th>Số lượng</th>
			<th>Thành tiền</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model.DetailInvoices)
		{
			<tr>
				<td>@item.Dish.DishName</td>
				<td>@item.Dish.Price</td>
				<td>@item.Number</td>
				<td>@item.Amount</td>

			</tr>
		}
	</tbody>
</table>