@model IEnumerable<ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Models.Party>

﻿@{
    ViewData["Title"] = "Danh sách tiệc";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <a asp-action="create" class="btn btn-outline-primary float-sm-right">
                    <i class="fas fa-plus"></i>
                    Thêm tiệc
                </a>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row mb-12">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="table-data" class="table table-bordered table-striped tablas">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PartyId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PartyName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Time)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Location)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PartyType.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HasMenu)
                                    </th>
                                    <th>
                                        Tuỳ chỉnh
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PartyId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PartyName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Time)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PartyType.Name)
                                        </td>
                                        <td>
                                            @{
                                                string status = item.Status ?? Party.COMING_SOON;
                                                string style = "";

                                                @switch (@status)
                                                {
                                                    case Party.DONE:
                                                        style = "badge-success";
                                                        break;
                                                    case Party.GOING_ON:
                                                        style = "badge-info";
                                                        break;
                                                    default:
                                                        style = "badge-warning";
                                                        break;
                                                }

                                                <span class="badge @style">@status</span>
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (item.HasMenu)
                                                {
                                                    <span class="badge badge-success">@Party.HAS_MENU</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger">@Party.NO_MENU</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                                </button>
                                                <div class="dropdown-menu" role="menu" style="">
                                                    @if(!item.Status.Equals(Party.DONE))
                                                    {
                                                        <a asp-action="edit" asp-route-id="@item.PartyId" class="dropdown-item bg-gradient-success">
                                                            <i class="fas fa-pen"></i>
                                                            Chỉnh sửa
                                                        </a>
                                                    }
                                                    <a asp-action="details" asp-route-id="@item.PartyId" class="dropdown-item bg-gradient-info">
                                                        <i class="fas fa-eye"></i>
                                                        Chi tiết
                                                    </a>
                                                    @if (!item.HasMenu)
                                                    {
                                                        <a asp-action="CreateMenu" asp-controller="parties" asp-route-id="@item.PartyId" class="dropdown-item bg-gradient-primary">
                                                            <i class="fas fa-utensils"></i>
                                                            Chọn thực đơn
                                                        </a>
                                                    }
                                                    <a asp-action="delete" asp-route-id="@item.PartyId" class="dropdown-item bg-gradient-danger">
                                                        <i class="fas fa-trash"></i>
                                                        Xoá
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>