@{
    ViewData["Title"] = "Trang chủ";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-12">
            <div class="col-sm-12">
                <h1 class="m-0">Bảng điều khiển</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@ViewBag.PartyCount</h3>

                        <p>Số lượng tiệc</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <a asp-area="admin" asp-controller="parties" class="small-box-footer">
                        Xem thêm <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@ViewBag.CustomerCount</h3>

                        <p>Số lượng khách hàng</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-plus"></i>
                    </div>
                    <a asp-area="admin" asp-controller="customers" class="small-box-footer">
                        Xem thêm <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@ViewBag.StaffCount</h3>

                        <p>Số lượng nhân viên</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a asp-area="admin" asp-controller="staffs" class="small-box-footer">
                        Xem thêm <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@ViewBag.DishCount</h3>

                        <p>Số lượng món ăn</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-utensils"></i>
                    </div>
                    <a asp-area="admin" asp-controller="dishes" class="small-box-footer">
                        Xem thêm <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
       
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box">
                    <div class="info-box-icon bg-purple">
                        <i class="fa fa-money-bill"></i>
                    </div>
                    <div class="info-box-content">
                        <span class="info-box-text">Số tiệc chưa thanh toán</span>
                        <span class="info-box-number">@ViewBag.NotPaidPartyCount</span>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <!-- col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box">
                    <div class="info-box-icon bg-maroon">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="info-box-content">
                        <span class="info-box-text">Số tiệc sắp tới</span>
                        <span class="info-box-number">@ViewBag.ComingSoonPartyCount</span>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <!-- col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box">
                    <div class="info-box-icon bg-olive">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="info-box-content">
                        <span class="info-box-text">Số tiệc đã xong</span>
                        <span class="info-box-number">@ViewBag.DonePartyCount</span>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <!-- col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box">
                    <div class="info-box-icon bg-lightblue">
                        <i class="fa fa-play"></i>
                    </div>
                    <div class="info-box-content">
                        <span class="info-box-text">Số tiệc đang tổ chức</span>
                        <span class="info-box-number">@ViewBag.GoingOnPartyCount</span>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->


