@model ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Models.Dish

@{
    ViewData["Title"] = "Xác nhận xoá";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewData["Title"] / @Model.DishId</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <dl class="row mb-12">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DishName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DishName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Price.ToString("#,##").Replace(",", ".")đ
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DishType)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DishType.TypeName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Unit)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Unit.UnitName)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="DishId" />
                    <input type="submit" value="Xoá vĩnh viễn" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-outline-primary">Danh sách món ăn</a>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->