@model IEnumerable<ASP.NET_Core_Website_QuanLyTiecCuoiLanHue.Models.Dish>

@{
	ViewData["Title"] = "Danh sách món ăn";
}

<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">@ViewData["Title"]</h1>
			</div>
			<div class="col-sm-6">
				<a asp-action="create" class="btn btn-outline-primary float-sm-right">
					<i class="fas fa-plus"></i>
					Thêm món
				</a>
			</div>
		</div>
	</div>
</div>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row mb-12">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="table-data" class="table table-bordered table-striped tablas">
                            <thead>
								<tr>
									<th>
										@Html.DisplayNameFor(model => model.DishName)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Price)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.DishType.TypeName)
									</th>
									<th>
										@Html.DisplayNameFor(model => model.Unit.UnitName)
									</th>
									<th>Tuỳ chỉnh</th>
								</tr>
                            </thead>
                            <tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.DishName)
										</td>
										<td>
											@item.Price.ToString("#,##").Replace(",",".")đ
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.DishType.TypeName)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Unit.UnitName)
										</td>
										<td>
											<div class="btn-group">
												<button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
												</button>
												<div class="dropdown-menu" role="menu" style="">
													<a asp-action="edit" asp-route-id="@item.DishId" class="dropdown-item bg-gradient-success">
														<i class="fas fa-pen"></i>
														Chỉnh sửa
													</a>
													@* <a asp-action="details" asp-route-id="@item.DishId" class="dropdown-item bg-gradient-info">
														<i class="fas fa-eye"></i>
														Chi tiết
													</a> *@
													<a asp-action="delete" asp-route-id="@item.DishId" class="dropdown-item bg-gradient-danger">
														<i class="fas fa-trash"></i>
														Xoá
													</a>
												</div>
											</div>
										</td>
									</tr>
								}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->